Objective: Randomly choose 3 winners to win the T shirt.

In [ ]:
#1. Collect data: the ones who participate the meeting
#2. Build an algorithm to randomly select 3 winners out of the collected data

In [ ]:
#Let's use data type :list for the data

In [ ]:
f= open("choose.txt","r")
data =f.readlines()

lst=[]

for i in range(0, len(data), 2):
  lst.append(data[i].strip().split())

import random
random.sample(lst,k=3)

[['Jackson'], ['Oliver'], ['Muhammad']]

In [ ]:
data

['Jason\n',
 'done\n',
 'Jackson\n',
 'done\n',
 'Oliver\n',
 'Done\n',
 'Money\n',
 'Done\n',
 'Ramly\n',
 'done\n',
 'Ali\n',
 'Done\n',
 'Muhammad\n',
 'Done\n',
 'Ah sheng\n',
 'Done\n',
 'NAnshen\n',
 'Done \n',
 'Ah yong\n',
 'Done \n',
 'Joshua \n',
 'Done \n',
 'Jeremy\n',
 'DOne']

In [ ]:
lst= []
for i in range(0,len(data),2):
  lst.append(data[i].strip().split())

lst

[['Jason'],
 ['Jackson'],
 ['Oliver'],
 ['Money'],
 ['Ramly'],
 ['Ali'],
 ['Muhammad'],
 ['Ah', 'sheng'],
 ['NAnshen'],
 ['Ah', 'yong'],
 ['Joshua'],
 ['Jeremy']]

In [ ]:
import random 

random.sample(lst,k=3 )

[['Ali'], ['Jackson'], ['Joshua']]